/*--BREADCRUMBS---------*/
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 1em;
    color: #550000;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #7d1f94;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #7d1f94;
    text-decoration: underline;
    padding: 2px;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #550000;
    text-decoration: underline;
}