.btn {
  outline: 0;
  color: #ffe1cc;
  background: #41003a;
  padding: 0.5rem 2rem 0.5rem 2rem;
  line-height: 2;
  border: transparent;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  max-width: 60%;
  width: auto;
  
  /*
  &:focus {
    box-shadow: 0 0 0 10rem rgba(0, 109, 255, 0.4);
  }

  &:not([disabled]),
  &:not([aria-disabled="true"]) {
    &:hover {
      color: #ffffff;
      background-color: #0062e6;
    }
    &:active,
    &[data-active="true"] {
      color: #ffffff;
      background-color: #004eb8;
    }
  }
  */
}

.btn:hover{
  /*text-decoration: underline;*/
  background-color: #290025;
  color: #ffede1;
}
