.TalkToUs{
    padding-left: 30px;
    width: 100%;
    /*background-color: red;*/
}

.FormLabel{
    /*background-color: turquoise;*/
    height: 30px;
    width: 40%;
}
.form{
    background-color: whitesmoke;
    font-size: 16px;
    color:#550000;
    border-radius: 10px;
    width: auto;
    margin: 5px 30px;
    padding: 5px 10px;
    border-color: #fff;
    vertical-align:middle;
    border: 2px solid #ccc;
}

.promptmessage{
    padding-left: 30px;
    padding-bottom: 10px;
    color:#a31313 ;
}
