.footer-container {
  background-color: #41003a;
  min-height: 100px;
  margin: 0 0;
  padding: 0 0 0 0;
    /* this is for the top-left-buttom-right padding for the footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Social Icons */


.social-media-wrap {
  /*background-color: aqua;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.ReturnPolicy {
  /*background: fuchsia;*/
  color: #ffe1cc;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 16px;
}
.ReturnPolicy:hover{
  text-decoration: underline;
  color: #ffe1cc;
}

.ReturnPolicy:focus{
  text-decoration: underline;
  color: #ffe1cc;
}

.CustomerService {
  /*background: fuchsia;*/
  text-align: center;
  color: #ffe1cc;
  margin-top: 16px;
  margin-bottom: 16px;
}

.social-icons {
  /*background: fuchsia;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*width: 100px;*/
  margin-top: 16px;
  margin-bottom: 16px;
}


.social-icon-link {
  /*background: salmon;*/
  color: #ffe1cc;
  font-size: 16px;
  /*width: 33px;*/
  /*height: 33px;*/
  margin-left: 5px;
  padding: 8px 8px;
}

.social-icon-link:hover{
  /*background: salmon;*/
  color: #ffe1cc;
  font-size: 16px;
  /*width: 33px;*/
  /*height: 33px;*/
  margin-left: 5px;
  padding: 8px 8px;
  border-bottom: 1px solid #ffe1cc;
}

@media screen and (max-width: 800px) {
  .social-media-wrap {
    flex-direction: column;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
}
