.footer-container {
  background-color: #41003a;
  margin: 0 0;
  padding: 0 0 0 0;
  /*
   {
     this is for the top-left-buttom-right padding for the footer 
  }
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Social Icons */


.social-media-wrap {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.social-icons {
  background: fuchsia;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.ReturnPolicy {
  background: fuchsia;
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.CustomerService {
  background: fuchsia;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 16px;
}

.social-icon-link {
  background: salmon;
  color: #fff;
  font-size: 16px;
  /*width: 33px;*/
  /*height: 33px;*/
  /*padding: 8px 8px;*/
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 1rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
}
