img {
  display: block;
}

.gallery__container {
  /*background-color: thistle;*/
  margin: 0;
  width: 100%;
  max-width: 540px;
}

.gallery__container .gallery__selected__image {
  
  width: 340px;
  height: auto;
  margin: 0 auto;
  /*border: 4px solid black;*/
}

.gallery__container .gallery__imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 0 0 0;
}

.gallery__container .gallery__imgContainer img {
  width: 110px;
  height: auto;
  margin: 0px 2.5px;
  cursor: pointer;
}
