img {
  display: block;
}

.gallery__container {
  /*background-color: thistle;*/
  margin: 0;
  width: 100%;
  max-width: 540px;
}

.gallery__container .gallery__selected__image {
  width: 340px;
  height: auto;
  /*margin: 0 auto;*/
  /*border: 4px solid black;*/
}

.gallery__container .gallery__imgContainer {
  width: 340px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0 0 0;
}

.gallery__container .gallery__imgContainer img {
  width: 110px;
  height: auto;
  margin: 0px 0px;
  cursor: pointer;
}

.gallery__container .gallery__imgContainer img:focus{
  border: 4px solid #550000 !important;
}
