* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
}


.Home,
.AboutUs,
.Catalogue,
.Product,
.SizeTable {
  //display: flex;
  //height: 90vh;
  //align-items: left;
  //justify-content: center;
  //font-size: 3rem;
  color: #550000; 
  background: #fcf3f5;
  padding: 50px 100px;
}

.Home {

}

.AboutUs {
  
}

.Product {
  
}

.Catalogue {
  
}


.SizeTable{
  
}