* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.Home,
.AboutUs,
.Catalogue,
.Product,
.SizeTable {
  /*display: flex;
    align-items: left;
    justify-content: center;
    font-size: 3rem;*/
  height: auto;
  color: #550000;
  background: #fcf3f5;
  padding: 50px 0%;
}
.link {
  color: #550000;
}

.Home {
  text-align: center;
}

.AboutUs {
}

.Product {
}

.Catalogue {
}

.SizeTable {
}
.Content {
  /*background-color: rgb(199, 199, 243);*/
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  vertical-align: top;
  justify-content: center;
}


#skip-link {
  background: #fcf3f5;
  color: #550000;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
  z-index: 1000;
}

#skip-link:focus {
  transform: translateY(0%);
}
