* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}


.Home,
.AboutUs,
.Catalogue,
.Product,
.SizeTable {
  /*display: flex;
    align-items: left;
    justify-content: center;
    font-size: 3rem;*/
  height: auto;
  color: #550000; 
  background: #fcf3f5;
  padding: 50px 0%;
  
}

.Home {
  text-align:center;
}

.AboutUs {
  
}

.Product {
  
}

.Catalogue {
  
}


.SizeTable{
  
}